<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <title>Spring MVC</title>
</head>
<body>
    <div class="jumbotron">
        <h1>Vc iniciou o Spring</h1>
    </div>

    <div class="container">

        <div class="jumbotron">
            <p>Aqui iniciará o projeto de Spring MVC. Vamos essa página de Main ou Menu Principal do Projeto.</p>
        </div>

    </div>

</body>
</html>