<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

    <title>Spring MVC</title>
</head>
<body>
    <div class="jumbotron">
        <h1>Vc iniciou o Spring</h1>
    </div>

    <form class="container" method="POST" th:object="${cerveja}">

        <div th:each="erro : ${#fields.detailedErrors()}">
           <span th:text="${erro.message}"></span>
        </div>

        <br>
        <label title="sku">SKU:</label>
        <input class="form-control" th:field="{sku}"/>
        <br>

        <label title="nome">Nome:</label>
        <input name="nome" class="form-control"/>
        <br>

        <label title="descricao">Descrição:</label>
        <input name="descricao" class="form-control"/>
        <br>

        <button class="btn btn-primary" type="submit">Continuar</button>

    </form>

</body>
</html>